/*******-Videos-*******/
.video-form input#edit-submit-all-videos {
  background-color: #f4473a;
  color: white;
  float: right;
  border-radius: 0;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-image: none;
  border: 1px solid white; }
.video-form input#edit-submit-all-videos:hover {
  background-color: white;
  color: #f4473a;
  border: 1px solid #f4473a; }
.video-form .views-exposed-widget.views-submit-button {
  float: right; }
.video-form .views-exposed-widgets {
  width: 320px;
  margin-left: auto;
  margin-right: auto; }
.video-form label {
  float: left;
  width: 114px; }
.video-form .views-exposed-widget {
  width: 320px; }
.video-form .views-widget .description, .video-form .form-item .description {
  display: none; }
.video-form .views-widget select, .video-form .form-item select {
  width: 180px; }
.video-form .views-widget .views-submit-button, .video-form .form-item .views-submit-button {
  width: 100%;
  height: 40px;
  float: right; }
.video-form #edit-submit-all-videos {
  margin-top: 0; }

.video-wrapper ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 50px 0px 0px 0px; }
  .video-wrapper ul li {
    width: 100%;
    float: left; }
    .video-wrapper ul li img {
      float: left;
      width: 100px; }
    .video-wrapper ul li .info_video {
      position: relative;
      height: 85px;
      width: 65%;
      float: left;
      margin-bottom: 10px;
      padding-left: 16px; }
      .video-wrapper ul li .info_video p {
        white-space: nowrap;
        overflow: hidden;
        font-family: 'open_sansregular', sans-serif;
        text-overflow: ellipsis;
        margin-bottom: 0;
        font-size: 12px; }
      .video-wrapper ul li .info_video .short_description {
        height: 72px;
        line-height: 20px;
        /* Height / no. of lines to display */
        overflow: hidden;
        white-space: normal; }
      .video-wrapper ul li .info_video a {
        color: black;
        font-family: 'oswaldlight';
        font-size: 16px; }
      .video-wrapper ul li .info_video .tags {
        position: absolute;
        bottom: 10px;
        left: 5px; }
        .video-wrapper ul li .info_video .tags a {
          background-color: #f4473a;
          border: 1px solid white;
          padding: 0.2em 0.5em 0.2em 0.5em;
          font-family: 'oswaldlight';
          margin: 5px;
          color: white;
          font-size: 1.2rem; }
        .video-wrapper ul li .info_video .tags a:hover {
          background-color: white;
          border: 1px solid #f4473a;
          color: #f4473a; }

/* tags pagina */
.term-listing-heading {
  display: none; }

.dividy_node_wrapper {
  width: 50%;
  float: left; }
  .dividy_node_wrapper .node-teaser {
    border: 0px solid white !important; }
  .dividy_node_wrapper .node-readmore a {
    background-color: #f4473a;
    border: 1px solid white;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-family: 'oswaldlight';
    color: white;
    border-radius: 0px;
    font-size: 1rem;
    text-shadow: none; }
  .dividy_node_wrapper .node-readmore a:hover {
    background-color: white;
    border: 1px solid #f4473a;
    color: #f4473a; }
  .dividy_node_wrapper h2.title a {
    font-size: 20px;
    font-family: 'oswaldlight';
    text-transform: capitalize; }
  .dividy_node_wrapper .video_content_box {
    width: 100%;
    float: left; }
    .dividy_node_wrapper .video_content_box .field-name-title-field {
      float: left;
      width: 200px;
      display: none; }
    .dividy_node_wrapper .video_content_box .field-name-field-youtube-url {
      float: left;
      width: 200px; }
      .dividy_node_wrapper .video_content_box .field-name-field-youtube-url img {
        width: 100%;
        border: none;
        padding: 0; }
    .dividy_node_wrapper .video_content_box .field-name-field-descriptions-en {
      float: left;
      width: 300px;
      padding-left: 10px; }
      .dividy_node_wrapper .video_content_box .field-name-field-descriptions-en p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        line-height: 24px;
        max-height: 71px; }
    .dividy_node_wrapper .video_content_box .field-name-field-video-country {
      float: left;
      width: 300px;
      padding-left: 10px; }
      .dividy_node_wrapper .video_content_box .field-name-field-video-country .field-label {
        width: 30%;
        margin: 0;
        float: left;
        display: inline; }
      .dividy_node_wrapper .video_content_box .field-name-field-video-country .field-items {
        width: 70%;
        float: left; }

.news_in_footer {
  list-style-type: none;
  clear: both;
  margin-left: 0; }
  .news_in_footer li:first-child {
    font-size: 20px;
    margin-bottom: 0; }
    .news_in_footer li:first-child a {
      padding-bottom: 10px; }
  .news_in_footer li {
    float: left;
    margin-bottom: 20px;
    clear: both; }
    .news_in_footer li a {
      float: left;
      display: inline;
      padding-right: 20px;
      padding-bottom: 20px; }
      .news_in_footer li a img {
        float: left;
        display: inline; }

.video_content_box {
  /* main video pagina */ }
  .video_content_box iframe {
    min-width: 360px;
    width: 100%;
    min-height: 270px;
    height: 70%; }
  .video_content_box .field-name-field-description2 {
    display: block;
    clear: both; }
    .video_content_box .field-name-field-description2 .field-label {
      display: none; }
  .video_content_box .main-video-title {
    float: left;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    display: block; }
  .video_content_box .main-video-player {
    float: left;
    width: 100%;
    min-width: 360px;
    min-height: 270px; }
  .video_content_box .main-video-description {
    width: 100%;
    float: left; }
  .video_content_box .main-video-duration {
    float: left;
    width: 100%; }
    .video_content_box .main-video-duration .field-label {
      width: 110px; }
  .video_content_box .main-video-creator {
    float: left;
    width: 100%; }
    .video_content_box .main-video-creator .field-label {
      width: 110px; }
  .video_content_box .main-video-creatorage {
    float: left;
    width: 100%; }
    .video_content_box .main-video-creatorage .field-label {
      width: 110px; }
  .video_content_box .main-video-date {
    float: left;
    width: 100%; }
    .video_content_box .main-video-date .field-label {
      width: 110px; }
  .video_content_box .main-video-level {
    float: left;
    width: 100%; }
    .video_content_box .main-video-level .field-label {
      width: 110px; }
  .video_content_box .main-video-category {
    float: left;
    margin: 20px 10px 0px 20px; }
    .video_content_box .main-video-category a {
      background-color: #f4473a;
      border: 1px solid white;
      padding: 2px 10px 2px 10px;
      font-family: 'oswaldlight';
      color: white;
      font-size: 1rem; }
    .video_content_box .main-video-category a:hover {
      background-color: white;
      border: 1px solid #f4473a;
      color: #f4473a; }
  .video_content_box .main-video-network {
    float: left;
    margin: 20px 10px 0px 0px; }
    .video_content_box .main-video-network a {
      background-color: #f4473a;
      border: 1px solid white;
      padding: 2px 10px 2px 10px;
      font-family: 'oswaldlight';
      color: white;
      font-size: 1rem; }
    .video_content_box .main-video-network a:hover {
      background-color: white;
      border: 1px solid #f4473a;
      color: #f4473a; }
  .video_content_box .main-video-country {
    float: left;
    width: auto;
    margin: 20px 10px 0px 0px; }
    .video_content_box .main-video-country .language-link {
      margin-right: 100px; }
    .video_content_box .main-video-country a {
      background-color: #f4473a;
      border: 1px solid white;
      padding: 2px 10px 2px 10px;
      font-family: 'oswaldlight';
      color: white;
      font-size: 1rem; }
    .video_content_box .main-video-country a:hover {
      background-color: white;
      border: 1px solid #f4473a;
      color: #f4473a; }

footer {
  width: 100%;
  height: 100%; }
  footer .video_content_share {
    position: relative;
    width: 100%;
    height: 100%; }
    footer .video_content_share .language-link {
      display: none; }
    footer .video_content_share ul {
      width: 100%;
      height: 100%; }
      footer .video_content_share ul li {
        width: 100%;
        height: 100%; }
        footer .video_content_share ul li a {
          position: absolute;
          left: 210px;
          top: 120px; }

/*******-Categories-*******/
.categories-wrapper {
  width: 100%; }
  .categories-wrapper ul {
    list-style-type: none;
    width: 100%;
    margin: 0; }
    .categories-wrapper ul li {
      width: 20%;
      min-width: 160px;
      float: left;
      margin: 40px auto;
      position: relative; }
      .categories-wrapper ul li .video_title_image {
        width: 160px;
        height: 160px;
        position: relative;
        margin: 0 auto;
        background-color: white;
        border: 1px solid #9ED8AF;
        -webkit-transition: opacity ease 0.3s;
        -moz-transition: opacity ease 0.3s;
        -ms-transition: opacity ease 0.3s;
        -o-transition: opacity ease 0.3s;
        transition: opacity ease 0.3s; }
        .categories-wrapper ul li .video_title_image a {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 1;
          position: absolute;
          z-index: 99;
          -webkit-transition: opacity ease 0.3s;
          -moz-transition: opacity ease 0.3s;
          -ms-transition: opacity ease 0.3s;
          -o-transition: opacity ease 0.3s;
          transition: opacity ease 0.3s; }
          .categories-wrapper ul li .video_title_image a img {
            margin: -20px auto;
            display: table;
            position: relative;
            top: 50%;
            width: 50px;
            height: 50px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
        .categories-wrapper ul li .video_title_image a:hover {
          opacity: 0;
          z-index: -9999; }
        .categories-wrapper ul li .video_title_image h4 {
          margin-bottom: 0;
          position: absolute;
          top: 100px;
          font-family: 'oswaldlight';
          font-size: 1rem;
          width: 100%;
          text-transform: uppercase;
          text-align: center; }
      .categories-wrapper ul li .video_title_image:hover {
        opacity: 0; }
      .categories-wrapper ul li .videoscategories-description {
        width: 160px;
        margin: 0 auto;
        position: relative;
        font-family: 'open_sansregular'; }
        .categories-wrapper ul li .videoscategories-description p {
          padding: 10px;
          font-size: 0.6rem;
          line-height: 0.8rem; }
      .categories-wrapper ul li .video_categorie_hover {
        position: absolute;
        width: 160px;
        height: 160px;
        top: -160px;
        z-index: -1;
        background-color: #9ED8AF; }
      .categories-wrapper ul li h4 {
        font-size: 1rem;
        width: 100%;
        padding-top: 20px;
        font-family: 'oswaldlight';
        text-transform: uppercase;
        text-align: center; }

@media only screen and (min-width: 320px) {
  .video-wrapper ul li img {
    width: 100px; }
  .video-wrapper ul li .info_video a {
    font-size: 16px; }
  .video-wrapper ul li .info_video .tags a {
    font-size: 10px; }

  .categories-wrapper ul {
    width: 342px;
    height: 20px;
    margin: 0 auto; }
    .categories-wrapper ul li {
      margin-right: 10px; } }
@media only screen and (min-width: 768px) {
  .video-wrapper ul li {
    width: 50%; }
    .video-wrapper ul li .info_video {
      width: 70%; }
      .video-wrapper ul li .info_video a {
        font-size: 1.2rem; }
      .video-wrapper ul li .info_video .tags a {
        font-size: 12px; }

  .video-form .views-exposed-widgets {
    width: 640px; }

  .categories-wrapper ul {
    width: 768px;
    height: 20px;
    margin: 0 auto; }
    .categories-wrapper ul li {
      margin-left: 10px;
      margin-right: 10px; }

  .video_content_box iframe {
    width: 100%;
    height: 70%; }
  .video_content_box .main-video-title {
    width: 50%;
    padding-left: 20px; }
  .video_content_box .main-video-player {
    width: 50%;
    margin-bottom: 20px; }
  .video_content_box .main-video-duration {
    width: 50%;
    padding-left: 20px; }
  .video_content_box .main-video-description {
    width: 50%;
    float: left;
    padding-left: 20px; }
  .video_content_box .main-video-creator {
    width: 50%;
    padding-left: 20px; }
  .video_content_box .main-video-creatorage {
    width: 50%;
    padding-left: 20px; }
  .video_content_box .main-video-date {
    width: 50%;
    padding-left: 20px; }
  .video_content_box .main-video-level {
    width: 50%;
    padding-left: 20px; } }
@media only screen and (min-width: 1024px) {
  .video-wrapper ul li {
    margin-bottom: 20px; }
    .video-wrapper ul li img {
      width: 200px; }
    .video-wrapper ul li .info_video {
      height: 150px;
      width: 57%; }

  .video-form .views-exposed-widgets {
    width: 100%; }
  .video-form label {
    width: auto;
    margin-right: 20px; }
  .video-form .views-exposed-widget {
    width: 340px; }
  .video-form .views-exposed-widget.views-submit-button {
    width: 100px; }
  .video-form .views-widget select, .video-form .form-item select {
    width: 120px;
    float: left; }

  .categories-wrapper ul {
    width: 100%; }
    .categories-wrapper ul li {
      margin: 20px auto; } }

/*# sourceMappingURL=marijn.css.map */
