.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  border: none; }

header#masthead div#logo img {
  width: 66%;
  margin-bottom: -12px; }

header#masthead #main-menu ul {
  width: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0px;
  margin-top: 19px; }

h1.page-title {
  display: none; }
