.view-partners .view-header {
  padding: 8px; }

.view-partners table {
  border: none; }

.view-partners td {
  padding: 5px 10px;
  border: none;
  width: 25%;
  border: none; }

.view-partners .views-field-name {
  font-family: oswaldbold; }

.view-partners .views-field-field-partner-image {
  bottom: 2px; }

.view-partners .views-exposed-widgets.clearfix {
  margin-left: 9px; }

.view-partners img {
  width: 100%;
  height: 100%; }

.view-partners #edit-submit-partners {
  background-color: #f4473a;
  background-image: none;
  color: white;
  border-radius: 0;
  border: none;
  width: 100px;
  margin-top: 23px;
  height: 31px;
  border: none;
  text-shadow: none; }

.view-partners #edit-submit-partners:hover {
  background-color: white;
  color: #f4473a;
  border: 1px solid #f4473a; }

#primary table {
  border: none; }

#primary td {
  padding: 5px 10px;
  border: none; }
