div#block-views-videos-block {
  border: 1px solid black; }

.recent-videos-container-container {
  margin-top: 4vh; }
  .recent-videos-container-container h2 {
    text-transform: uppercase;
    font-family: oswaldbold;
    text-align: center;
    padding-bottom: 2vh;
    font-size: 2.5rem; }
  .recent-videos-container-container .recent-videos-container ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
    .recent-videos-container-container .recent-videos-container ul li {
      margin: 10px;
      min-width: 231px;
      width: 23%;
      display: inline-block;
      margin-bottom: 1.5rem;
      text-align: left;
      position: relative; }
      .recent-videos-container-container .recent-videos-container ul li .views-field.views-field-field-original-language span {
        float: left;
        margin-right: 5px; }
      .recent-videos-container-container .recent-videos-container ul li .views-field.views-field-field-video-country span {
        float: left;
        margin-right: 4px; }
      .recent-videos-container-container .recent-videos-container ul li img {
        width: 100%; }
      .recent-videos-container-container .recent-videos-container ul li .info {
        background-color: red;
        position: absolute;
        width: 100%;
        top: 0;
        height: 174px;
        display: none; }
      .recent-videos-container-container .recent-videos-container ul li .field-content.top-videos-first a:hover ~ .info {
        cursor: pointer;
        z-index: 2;
        display: block; }
      .recent-videos-container-container .recent-videos-container ul li .info {
        background-color: yellow;
        position: absolute;
        width: 100%;
        top: 0;
        height: 88%;
        display: none; }
        .recent-videos-container-container .recent-videos-container ul li .info .contentlink {
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 5; }
        .recent-videos-container-container .recent-videos-container ul li .info .infolijst {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
      .recent-videos-container-container .recent-videos-container ul li:hover .info {
        display: block; }
  .recent-videos-container-container .recent-videos-container ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
    .recent-videos-container-container .recent-videos-container ul li {
      margin: 10px;
      min-width: 231px;
      width: 23%;
      display: inline-block;
      margin-bottom: 1.5rem;
      text-align: left;
      position: relative; }
      .recent-videos-container-container .recent-videos-container ul li .views-field.views-field-field-original-language span {
        float: left;
        margin-right: 5px; }
      .recent-videos-container-container .recent-videos-container ul li .views-field.views-field-field-video-country span {
        float: left;
        margin-right: 4px; }
      .recent-videos-container-container .recent-videos-container ul li img {
        width: 100%; }
      .recent-videos-container-container .recent-videos-container ul li .info {
        background-color: red;
        position: absolute;
        width: 100%;
        top: 0;
        height: 174px;
        display: none; }
      .recent-videos-container-container .recent-videos-container ul li .field-content.top-videos-first a:hover ~ .info {
        cursor: pointer;
        z-index: 2;
        display: block; }
      .recent-videos-container-container .recent-videos-container ul li .info {
        background-color: yellow;
        position: absolute;
        width: 93%;
        top: 0;
        height: 83%;
        display: none;
        margin-left: 6px; }
        .recent-videos-container-container .recent-videos-container ul li .info .contentlink {
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 5; }
        .recent-videos-container-container .recent-videos-container ul li .info .infolijst {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
      .recent-videos-container-container .recent-videos-container ul li:hover .info {
        display: block; }

.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  border: none; }

header#masthead div#logo img {
  width: 66%;
  margin-bottom: -12px; }
header#masthead #main-menu ul {
  width: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0px;
  margin-top: 19px; }

h1.page-title {
  display: none; }
.view-partners {
  background-color: red; }
  .view-partners .view-content {
    background-color: red; }
/*# sourceMappingURL=comundos.css.map */
